@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700&display=swap');

body {
  font-family: 'Manrope', sans-serif;
  background: #f6f8f9;
  margin: 0;
}

.container {
  max-width: 520px;
  margin: auto;
  padding: 32px;
}

h1, h2, h3 {
  font-weight: 700;
}

.center {
  text-align: center;
}

.cards {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 12px;
  cursor: pointer;
  width: 120px;
  box-shadow: 0 4px 10px rgba(0,0,0,.1);
  text-align: center;
}

.selected {
  border: 2px solid #5ba9b3;
}

.list .activity-item {
  background: white;
  margin: 12px 0;
  padding: 16px;
  border-radius: 12px;
  cursor: pointer;
  line-height: 1.5;
}

.list .activity-item b {
  font-weight: 700;
  font-size: 20px;
  display: block;
  margin-bottom: 5px;
}

button {
  width: 100%;
  padding: 15px;
  margin-top: 20px;
  background: #5ba9b3;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}

button:disabled {
  opacity: 0.5;
  cursor: default;
}

.secondary {
  background: transparent;
  color: #5ba9b3;
  border: 1px solid #5ba9b3;
}

input[type="number"] {
  width: 100%;
  padding: 12px;
  margin-top: 12px;
}

.goal-group label {
  display: block;
  margin: 10px 0;
}

.hint {
  margin-top: 16px;
  font-size: 14px;
  line-height: 1.5;
  color: #444;
  text-align: left;
}

.hidden {
  display: none;
}

/* ====== RESULT.HTML ====== */
.macro-block {
  margin-bottom: 32px;
}

.macro-name {
  font-weight: 700;
  margin-bottom: 8px;
  font-size: 20px;
}

.macro-text p {
  margin: 6px 0;
  line-height: 1.6;
  font-size: 20px;
}

.calories {
  font-weight: 700;
  font-size: 22px;
  text-align: center;
  margin-bottom: 32px;
}

.warning {
  margin-top: 40px;
  line-height: 1.6;
  font-size: 20px;
}

.warning b {
  font-weight: 700; /* только ⚠️ Важно: */
}

/* ====== METHOD ====== */
#method {
  display: none;
  margin-top: 20px;
}

#method h2, #method h3 {
  font-size: 25px;
  text-align: center;
  font-weight: 700;
  margin-bottom: 10px;
}

#method p, #method li {
  font-size: 20px;
  line-height: 1.6;
}

/* ====== NEW FIRST PAGE ====== */
.first-page h1 {
  text-align: center;
  font-weight: 700;
  font-size: 25px;
  margin-bottom: 20px;
}

.first-page p {
  text-align: justify;
  font-size: 20px;
  margin-bottom: 16px;
}

.first-page .contacts {
  text-align: left;
  font-size: 20px;
  margin-bottom: 20px;
}
